version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 14
    commit-message:
      prefix: ":seedling:"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 14
    commit-message:
      prefix: ":seedling:"
    groups:
      k8s-dependencies:
        patterns:
        - "k8s.io/*"
        - "sigs.k8s.io/*"
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    cooldown:
      default-days: 14
    commit-message:
      prefix: ":seedling:"
