apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-registry
  namespace: operator-controller-e2e
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
        - name: registry
          image: registry:3
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: certs-vol
              mountPath: "/certs"
          env:
            - name: REGISTRY_HTTP_ADDR
              value: ":5000"
            - name: REGISTRY_HTTP_TLS_CERTIFICATE
              value: "/certs/tls.crt"
            - name: REGISTRY_HTTP_TLS_KEY
              value: "/certs/tls.key"
      volumes:
        - name: certs-vol
          secret:
            secretName: operator-controller-e2e-registry