# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
testbin/*
/hack/tools/bin/*
Dockerfile.cross

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tools
*.out
coverage
cover.out

# Release output
dist/**
operator-controller.yaml
install.sh
catalogd.yaml

# vendored files
vendor/

# editor and IDE paraphernalia
.idea/
.run/
*.swp
*.swo
*~
\#*\#
.\#*

# documentation website asset folder
site

.tiltbuild/
.catalogd-tmp/
.vscode

# Catalogd
catalogd/bin/
catalogd/vendor/
catalogd/dist/
catalogd/cover.out
catalogd/catalogd.yaml
catalogd/install.sh
