# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
testbin/*
/hack/tools/bin/*
Dockerfile.cross
crd_work_dir/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tools
*.out
coverage
cover.out

# Release output
/dist/**
/operator-controller.yaml
/operator-controller-experimental.yaml
/default-catalogs.yaml
/install.sh
/install-experimental.sh

# vendored files
vendor/

# editor and IDE paraphernalia
.idea/
.run/
*.swp
*.swo
*~
\#*\#
.\#*

# documentation website asset folder
site

.tiltbuild/
.catalogd-tmp/
.vscode

# Tmporary files and directories
/test/regression/convert/testdata/tmp/*
