apiVersion: kind.x-k8s.io/v1alpha4
kind: Cluster
nodes:
  - role: control-plane
    extraPortMappings:
    # e2e image registry service's NodePort
      - containerPort: 30000
        hostPort: 30000
        listenAddress: "127.0.0.1"
        protocol: tcp
    # prometheus metrics service's NodePort
      - containerPort: 30900
        hostPort: 30900
        listenAddress: "127.0.0.1"
        protocol: tcp
    kubeadmConfigPatches:
      - |
        kind: ClusterConfiguration
        apiServer:
            extraArgs:
              enable-admission-plugins: OwnerReferencesPermissionEnforcement
