# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Operator Controller documentation
theme:
 name: "material"
 features:
   - content.code.copy

repo_url: https://github.com/operator-framework/operator-controller

nav:
  - Home: 'index.md'
  - Components: 'components.md'
  - Tasks:
    - Adding a catalog of extensions: 'Tasks/adding-a-catalog.md'
    - Finding extensions to install: 'Tasks/explore-available-packages.md'
    - Installing an extension: 'Tasks/installing-an-extension.md'
    - Deleting an extension: 'Tasks/uninstall-an-extension.md'
  - References:
    - Catalog queries: 'refs/catalog-queries.md'

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
