# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Operator Lifecycle Manager
theme:
  logo: assets/logo.svg
  name: "material"
  palette:
    primary: black
  features:
    - content.code.copy
    - navigation.top
#    - navigation.tabs
    - navigation.indexes

repo_url: https://github.com/operator-framework/operator-controller

extra_css:
  - css/extra.css

nav:
  - Overview:
    - index.md
    - Community: project/olmv1_community.md
    - Architecture: project/olmv1_architecture.md
    - Design Decisions: project/olmv1_design_decisions.md
    - Limitations: project/olmv1_limitations.md
    - Roadmap: project/olmv1_roadmap.md
    - Public API: project/public-api.md
  - Getting Started: getting-started/olmv1_getting_started.md
  - Tutorials:
    - Add a Catalog: tutorials/add-catalog.md
    - Explore Content: tutorials/explore-available-content.md
    - Install an Extension: tutorials/install-extension.md
    - Upgrade an Extension: tutorials/upgrade-extension.md
    - Downgrade an Extension: tutorials/downgrade-extension.md
    - Uninstall an Extension: tutorials/uninstall-extension.md
  - How-To Guides:
    - Catalog queries: howto/catalog-queries.md
    - Channel-Based Upgrades: howto/how-to-channel-based-upgrades.md
    - Version Pinning: howto/how-to-pin-version.md
    - Version Range Upgrades: howto/how-to-version-range-upgrades.md
    - Z-Stream Upgrades: howto/how-to-z-stream-upgrades.md
    - Derive Service Account Permissions: howto/derive-service-account.md
    - Grant Access to Your Extension's API: howto/how-to-grant-api-access.md
  - Conceptual Guides:
    - Single Owner Objects: concepts/single-owner-objects.md
    - Upgrade Support: concepts/upgrade-support.md
    - CRD Upgrade Safety: concepts/crd-upgrade-safety.md
    - Content Resolution: concepts/controlling-catalog-selection.md
    - Version Ranges: concepts/version-ranges.md
  - API Reference:
    - OLMv1 API reference: api-reference/olmv1-api-reference.md
    - CatalogD Web Server reference: api-reference/catalogd-webserver.md
  - Contribute:
    - Contributing: contribute/contributing.md
    - Developing OLM v1: contribute/developer.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - admonition
  - pymdownx.details
