---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - catalogd.operatorframework.io
  resources:
  - catalogmetadata
  verbs:
  - list
  - watch
- apiGroups:
  - catalogd.operatorframework.io
  resources:
  - catalogs
  verbs:
  - list
  - watch
- apiGroups:
  - core.rukpak.io
  resources:
  - bundledeployments
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - olm.operatorframework.io
  resources:
  - clusterextensions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - olm.operatorframework.io
  resources:
  - clusterextensions/finalizers
  verbs:
  - update
- apiGroups:
  - olm.operatorframework.io
  resources:
  - clusterextensions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - olm.operatorframework.io
  resources:
  - extensions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - olm.operatorframework.io
  resources:
  - extensions/finalizers
  verbs:
  - update
- apiGroups:
  - olm.operatorframework.io
  resources:
  - extensions/status
  verbs:
  - get
  - patch
  - update
