- op: add
  path: /spec/template/spec/volumes/-
  value: {"name":"olmv1-certificate", "secret":{"secretName":"olmv1-cert", "optional": false, "items": [{"key": "ca.crt", "path": "olm-ca.crt"}, {"key": "tls.crt", "path": "tls.cert"}, {"key": "tls.key", "path": "tls.key"}]}}
- op: add
  path: /spec/template/spec/containers/0/volumeMounts/-
  value: {"name":"olmv1-certificate", "readOnly": true, "mountPath":"/var/certs/"}
- op: add
  path: /spec/template/spec/containers/0/args/-
  value: "--catalogd-cas-dir=/var/certs"
- op: add
  path: /spec/template/spec/containers/0/args/-
  value: "--pull-cas-dir=/var/certs"
- op: add
  path: /spec/template/spec/containers/0/args/-
  value: "--tls-cert=/var/certs/tls.cert"
- op: add
  path: /spec/template/spec/containers/0/args/-
  value: "--tls-key=/var/certs/tls.key"
