/* Hide banner title */
.md-header__title {
    visibility: hidden;
}

/* Make top-level navigation items bold */
.md-nav__item--active > .md-nav__link, /* Active top-level items */
.md-nav__item--nested > .md-nav__link { /* Nested top-level items */
    font-weight: bold;
}

.tags-list {
    list-style: none;
    padding: 0;
  }
  
  .tag {
    display: inline-block;
    background-color: red;
    border-radius: 3px;
    padding: 2px 8px;
    margin: 2px;
    font-size: 0.9em;
    color: white;
  }
