{{- if .Values.options.openshift.enabled -}}
{{- if or .Values.options.catalogd.enabled .Values.options.operatorController.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  annotations:
    {{- include "olmv1.annotations" . | nindent 4 }}
  labels:
    app.kubernetes.io/name: {{ include "olmv1.label.name" . }}
    {{- include "olmv1.labels" . | nindent 4 }}
  name: {{ include "olmv1.label.name" . -}}-metrics-monitor-role
  namespace: {{ .Values.namespaces.olmv1.name }}
rules:
  - apiGroups:
      - ""
    resources:
      - services
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - get
      - list
      - watch
{{- end -}}
{{- end -}}
