# remove livenessProbe and readinessProbe so container doesn't restart during breakpoints
- op: replace
  path: /spec/template/spec/containers/0/livenessProbe
  value: null
- op: replace
  path: /spec/template/spec/containers/0/readinessProbe
  value: null
- op: remove
  # remove --leader-elect so container doesn't restart during breakpoints
  path: /spec/template/spec/containers/0/args/2
