apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/part-of: olm
    app.kubernetes.io/name: catalogd
  name: controller-manager-metrics-service
  namespace: system
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: catalogd-controller-manager
