name: crd-diff
on:
  pull_request:
jobs:
  crd-diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run make verify-crd-compatibility
        run: |
          make verify-crd-compatibility \
            CRD_DIFF_ORIGINAL_REF=${{ github.event.pull_request.base.sha }} \
            CRD_DIFF_UPDATED_SOURCE="git://${{ github.event.pull_request.head.sha }}?path=config/operator-controller/base/crd/bases/olm.operatorframework.io_clusterextensions.yaml" \
            CATALOGD_CRD_DIFF_UPDATED_SOURCE="git://${{ github.event.pull_request.head.sha }}?path=config/catalogd/base/crd/bases/olm.operatorframework.io_clustercatalogs.yaml"
