name: e2e

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  extension-developer-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run the extension developer e2e test
      run: make extension-developer-e2e

  e2e-kind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run e2e tests
        run: ARTIFACT_PATH=/tmp/artifacts make test-e2e

      - uses: cytopia/upload-artifact-retry-action@v0.1.7
        if: failure()
        with:
          name: e2e-artifacts
          path: /tmp/artifacts/

      - uses: codecov/codecov-action@v5
        with:
          disable_search: true
          files: coverage/e2e.out
          flags: e2e
          token: ${{ secrets.CODECOV_TOKEN }}

  upgrade-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run the upgrade e2e test
      run: make test-upgrade-e2e
