name: e2e

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:
  e2e-kind:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-go@v3
      with:
        go-version-file: "go.mod"
    - name: Run e2e tests
      run: |
        make e2e
