name: e2e

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  extension-developer-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run the extension developer e2e test
      run: make test-extension-developer-e2e

  e2e-kind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run e2e tests
        run: ARTIFACT_PATH=/tmp/artifacts E2E_SUMMARY_OUTPUT=$GITHUB_STEP_SUMMARY make test-e2e

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: e2e-artifacts
          path: /tmp/artifacts/

      - uses: codecov/codecov-action@v5.4.3
        with:
          disable_search: true
          files: coverage/e2e.out
          flags: e2e
          token: ${{ secrets.CODECOV_TOKEN }}

  experimental-e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run e2e tests
        run: ARTIFACT_PATH=/tmp/artifacts E2E_SUMMARY_OUTPUT=$GITHUB_STEP_SUMMARY make test-experimental-e2e

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: experimental-e2e-artifacts
          path: /tmp/artifacts/

      - uses: codecov/codecov-action@v5.4.3
        with:
          disable_search: true
          files: coverage/experimental-e2e.out
          flags: experimental-e2e
          token: ${{ secrets.CODECOV_TOKEN }}

  upgrade-e2e:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: go.mod

    - name: Run the upgrade e2e test
      run: ARTIFACT_PATH=/tmp/artifacts make test-upgrade-e2e

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: upgrade-e2e-artifacts
        path: /tmp/artifacts/
