name: e2e

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
      - main

jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test:
          - name: extension-developer-e2e
            make-target: test-extension-developer-e2e
            use-artifacts: false
            use-codecov: false
          - name: e2e
            make-target: test-e2e
            use-artifacts: true
            use-codecov: true
          - name: experimental-e2e
            make-target: test-experimental-e2e
            use-artifacts: true
            use-codecov: true
          - name: upgrade-st2st-e2e
            make-target: test-upgrade-st2st-e2e
            use-artifacts: true
            use-codecov: false
          - name: upgrade-st2ex-e2e
            make-target: test-upgrade-st2ex-e2e
            use-artifacts: true
            use-codecov: false
          - name: st2ex-e2e
            make-target: test-st2ex-e2e
            use-artifacts: true
            use-codecov: false
    name: ${{ matrix.test.name }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run e2e test
        run: |
          if [[ "${{ matrix.test.use-artifacts }}" == "true" ]]; then
            ARTIFACT_PATH=/tmp/artifacts E2E_SUMMARY_OUTPUT=$GITHUB_STEP_SUMMARY make ${{ matrix.test.make-target }}
          else
            make ${{ matrix.test.make-target }}
          fi

      - uses: actions/upload-artifact@v6
        if: failure() && matrix.test.use-artifacts == true
        with:
          name: ${{ matrix.test.name }}-artifacts
          path: /tmp/artifacts/

      - uses: codecov/codecov-action@v5.5.2
        if: matrix.test.use-codecov == true
        with:
          disable_search: true
          files: coverage/${{ matrix.test.name }}.out
          flags: ${{ matrix.test.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

