name: go-apidiff
on:
  pull_request:
  merge_group:
jobs:
  go-apidiff:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod

    - uses: joelanford/go-apidiff@main
