name: go-apidiff
on:
  merge_group:
  pull_request:
jobs:
  go-apidiff:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - uses: joelanford/go-apidiff@main
