on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

jobs:
  pr-title:
    runs-on: ubuntu-latest
    name: Verify PR title
    steps:
    - name: Verify PR title
      uses: kubernetes-sigs/kubebuilder-release-tools@v0.4.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
