name: sanity

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
    - main

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            .bingo/**.sum

      - name: Install all tools
        run: make install-tools

      - name: Run verification checks
        run: make verify
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache-dependency-path: |
            go.sum
            .bingo/**.sum

      - name: Install all tools
        run: make install-tools

      - name: Run golangci linting checks
        run: make lint GOLANGCI_LINT_ARGS="--out-format github-actions"
