name: sanity

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
    - main

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Run verification checks
        run: make verify GOFLAGS='-tags=containers_image_openpgp'
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Run golangci linting checks
        run: make lint GOLANGCI_LINT_ARGS="--out-format colored-line-number"
