name: unit

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - main

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: make test-unit

      - uses: codecov/codecov-action@v3
        with:
          files: cover.out
          fail_ci_if_error: true
          functionalities: fixes
