name: unit-test

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches:
    - main

jobs:
  unit-test-basic:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod

    - name: Run basic unit tests
      run: |
        make test-unit

    - uses: codecov/codecov-action@v3
      with:
        files: cover.out
        flags: unit
        functionalities: fixes
